.featured-anime-list-item {
  margin: 10px 10px;
  list-style: none;
  display: flex;
  height: 100px;
  gap: 20px;
  border-bottom: rgba(90, 90, 90, 0.214) 3px solid;

  img {
    width: 60px !important;
    height: 80px !important;
  }

  .info {
    margin-top: 20px;
    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;

      &:hover {
        color: var(--secondary-color);
      }
    }

    .other-info {
      margin-top: 5px;
      display: flex;
      flex-direction: row;

      color: black;
      font-weight: 600;

      .ep {
        font-size: 12px;
        padding: 2px 5px;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .sub-ep {
        background-color: rgb(149, 255, 128);
        border-radius: 4px 0 0 4px;
      }

      .dub-ep {
        background-color: rgb(127, 221, 255);
        border-radius: 0px 4px 4px 0px;
      }

      .category {
        margin: 0 5px;
        color: var(--text-color);
        font-size: 1rem;
      }
    }
  }
}
